
RewriteEngine On
RewriteRule ^$ /container/acceso.php [L,QSA]
RewriteRule ^registrar$ /container/registrar.php [L,QSA]
RewriteRule ^([^/]+)$ /config/priv.php [L,QSA]
RewriteRule ^([^/]+)/$ /config/priv.php [L,QSA]

#dash_admin
RewriteRule ^admin/marcaje$ /container/dash_admin/marcaje.php [L,QSA]
RewriteRule ^admin/datos$ /container/dash_admin/datos.php [L,QSA]
RewriteRule ^admin/directorio$ /container/dash_admin/directorio.php [L,QSA]
RewriteRule ^admin/directorio/([^/]+)$ /container/dash_admin/directorio.php?entidad=$1 [L,QSA]
RewriteRule ^admin/directorio/([^/]+)/([^/]+)$ /container/dash_admin/directorio.php?entidad=$1&sede=$2 [L,QSA]
RewriteRule ^admin/historial$ /container/dash_admin/historial.php [L,QSA]
RewriteRule ^admin/inasistencias$ /container/dash_admin/inasistencias.php [L,QSA]
RewriteRule ^admin/usuarios$ /container/dash_admin/usuarios.php [L,QSA]
RewriteRule ^admin/comentarios$ /container/dash_admin/comentarios.php [L,QSA]
RewriteRule ^admin/ayuda$ /container/dash_admin/ayuda.php [L,QSA]
RewriteRule ^admin/ayuda/([^/]+)$ /container/dash_admin/ayuda.php?id=$1 [L,QSA]


#dash_panel
RewriteRule ^panel/marcaje$ /container/dash_panel/marcaje.php [L,QSA]
RewriteRule ^panel/datos$ /container/dash_panel/datos.php [L,QSA]
RewriteRule ^panel/historial$ /container/dash_panel/historial.php [L,QSA]
RewriteRule ^panel/inasistencias$ /container/dash_panel/inasistencias.php [L,QSA]
RewriteRule ^panel/comentarios$ /container/dash_panel/comentarios.php [L,QSA]
RewriteRule ^panel/ayuda$ /container/dash_panel/ayuda.php [L,QSA]
RewriteRule ^panel/ayuda/([^/]+)$ /container/dash_panel/ayuda.php?id=$1 [L,QSA]


#dash_invitados
RewriteRule ^invitados/historial$ /container/dash_invitados/historial.php [L,QSA]
RewriteRule ^invitados/datos$ /container/dash_invitados/datos.php [L,QSA]
RewriteRule ^invitados/comentarios$ /container/dash_invitados/comentarios.php [L,QSA]
RewriteRule ^invitados/ayuda$ /container/dash_invitados/ayuda.php [L,QSA]
RewriteRule ^invitados/ayuda/([^/]+)$ /container/dash_invitados/ayuda.php?id=$1 [L,QSA]


#mi
RewriteRule ^mi/acceso$ /config/acceso.php [L,QSA]
RewriteRule ^mi/cerrar_session$ /config/cerrar_session.php [L,QSA]
RewriteRule ^mi/registrar_usuario$ /config/registrar_usuario.php [L,QSA]
RewriteRule ^mi/res_pass$ /src/res_pass.php [L,QSA]
RewriteRule ^mi/phpmailer_ress$ /src/phpmailer_ress.php [L,QSA]
RewriteRule ^mi/src/consultar_datos$ /src/consultar_datos.php [L,QSA]
RewriteRule ^mi/src/registrar_marcaje$ /src/registrar_marcaje.php [L,QSA]
RewriteRule ^mi/src/nota$ /src/nota.php [L,QSA]
RewriteRule ^mi/src/cargar_excel$ /src/cargar_excel.php [L,QSA]
RewriteRule ^mi/src/sedes$ /src/sedes.php [L,QSA]
RewriteRule ^mi/src/jornada$ /src/jornada.php [L,QSA]
RewriteRule ^mi/src/grupos$ /src/grupos.php [L,QSA]
RewriteRule ^mi/src/datos$ /src/datos.php [L,QSA]
RewriteRule ^mi/src/editar_datos$ /src/editar_datos.php [L,QSA]
RewriteRule ^mi/src/pre_carga_datos$ /src/pre_carga_datos.php [L,QSA]
RewriteRule ^mi/src/eliminar_pre_carga$ /src/eliminar_pre_carga.php [L,QSA]
RewriteRule ^mi/src/datos_guardar$ /src/datos_guardar.php [L,QSA]
RewriteRule ^mi/src/eliminar_datos$ /src/eliminar_datos.php [L,QSA]
RewriteRule ^mi/src/carpetas_entidades$ /src/carpetas_entidades.php [L,QSA]
RewriteRule ^mi/src/carpetas_sedes$ /src/carpetas_sedes.php [L,QSA]
RewriteRule ^mi/src/carpetas_directorio$ /src/carpetas_directorio.php [L,QSA]
RewriteRule ^mi/src/crear_carpeta_entidad$ /src/crear_carpeta_entidad.php [L,QSA]
RewriteRule ^mi/src/crear_carpeta_sede$ /src/crear_carpeta_sede.php [L,QSA]
RewriteRule ^mi/src/subir_directorio$ /src/subir_directorio.php [L,QSA]
RewriteRule ^mi/src/eliminar_foto$ /src/eliminar_foto.php [L,QSA]
RewriteRule ^mi/src/historial$ /src/historial.php [L,QSA]
RewriteRule ^mi/src/inasistencias$ /src/inasistencias.php [L,QSA]
RewriteRule ^mi/src/cargar_inasistencia$ /src/cargar_inasistencia.php [L,QSA]
RewriteRule ^mi/src/propiedades_directorio$ /src/propiedades_directorio.php [L,QSA]
RewriteRule ^mi/src/exportar_excel_historial$ /src/exportar_excel_historial.php [L,QSA]
RewriteRule ^mi/src/val_pass_del$ /src/val_pass_del.php [L,QSA]
RewriteRule ^mi/src/usuarios$ /src/usuarios.php [L,QSA]
RewriteRule ^mi/src/consultar_usuario$ /src/consultar_usuario.php [L,QSA]
RewriteRule ^mi/src/editar_usuario$ /src/editar_usuario.php [L,QSA]
RewriteRule ^mi/src/eliminar_usuario$ /src/eliminar_usuario.php [L,QSA]
RewriteRule ^mi/src/comentario_enviar$ /src/comentario_enviar.php [L,QSA]
RewriteRule ^mi/src/comentarios$ /src/comentarios.php [L,QSA]
RewriteRule ^mi/src/ver_comentario$ /src/ver_comentario.php [L,QSA]
RewriteRule ^mi/src/eliminar_comentario$ /src/eliminar_comentario.php [L,QSA]
RewriteRule ^mi/src/ayuda$ /src/ayuda.php [L,QSA]
RewriteRule ^mi/src/crear_contenido_ayuda$ /src/crear_contenido_ayuda.php [L,QSA]
RewriteRule ^mi/src/consultar_pre_agregar_datos_invitados$ /src/consultar_pre_agregar_datos_invitados.php [L,QSA]
RewriteRule ^mi/src/guardar_agregar_dato_invitado$ /src/guardar_agregar_dato_invitado.php [L,QSA]
RewriteRule ^mi/src/eliminar_agregar_dato_invitado$ /src/eliminar_agregar_dato_invitado.php [L,QSA]
RewriteRule ^mi/src/data_edit_contenido_ayuda$ /src/data_edit_contenido_ayuda.php [L,QSA]
RewriteRule ^mi/src/editar_contenido_ayuda$ /src/editar_contenido_ayuda.php [L,QSA]


