
RewriteEngine On
#Configuracion
RewriteRule ^$ /container/acceso/acceso.php?head=Acceso [L,QSA]
RewriteRule ^registrar$ /container/registrar/registrar.php?head=Registrar [L,QSA]
RewriteRule ^([^/]+)$ /config/priv.php [L,QSA]
RewriteRule ^([^/]+)/$ /config/priv.php [L,QSA]


#Acceso
RewriteRule ^mi/acceso$ /config/acceso [L,QSA]
