
RewriteEngine On
RewriteRule ^$ /container/acceso.php [L,QSA]
RewriteRule ^registrar$ /container/registrar.php [L,QSA]
RewriteRule ^([^/]+)$ /config/priv.php [L,QSA]
RewriteRule ^([^/]+)/$ /config/priv.php [L,QSA]
RewriteRule ^container/([^/]+)/$ /config/priv.php [L,QSA]

#dash_admin
RewriteRule ^admin/panel$ /container/dash_admin/panel.php [L,QSA]
RewriteRule ^admin/recargos$ /container/dash_admin/recargos.php [L,QSA]
RewriteRule ^admin/recargos/([^/]+)$ /container/dash_admin/recargos.php?referencia=$1 [L,QSA]
RewriteRule ^admin/clientes$ /container/dash_admin/clientes.php [L,QSA]
RewriteRule ^admin/bonos$ /container/dash_admin/bonos.php [L,QSA]
RewriteRule ^admin/canchas$ /container/dash_admin/canchas.php [L,QSA]
RewriteRule ^admin/canchas/([^/]+)$ /container/dash_admin/canchas.php?id=$1 [L,QSA]
RewriteRule ^admin/reservas$ /container/dash_admin/reservas.php [L,QSA]
RewriteRule ^admin/usuarios$ /container/dash_admin/usuarios.php [L,QSA]
RewriteRule ^admin/configuracion$ /container/dash_admin/configuracion.php [L,QSA]


#dash_cliente
RewriteRule ^clientes/panel$ /container/dash_clientes/panel.php [L,QSA]
RewriteRule ^clientes/recargos$ /container/dash_clientes/recargos.php [L,QSA]
RewriteRule ^clientes/recargos/([^/]+)$ /container/dash_clientes/recargos.php?referencia=$1 [L,QSA]
RewriteRule ^clientes/canchas$ /container/dash_clientes/canchas.php [L,QSA]
RewriteRule ^clientes/canchas/([^/]+)$ /container/dash_clientes/canchas.php?id=$1 [L,QSA]
RewriteRule ^clientes/reservas$ /container/dash_clientes/reservas.php [L,QSA]
RewriteRule ^clientes/perfil$ /container/dash_clientes/perfil.php [L,QSA]

#dash_facturas
RewriteRule ^facturas/recargos/([^/]+)$ /container/dash_facturas/factura_recargo.php?referencia=$1 [L,QSA]

#mi
RewriteRule ^mi/acceso$ /config/acceso.php [L,QSA]
RewriteRule ^mi/cerrar_session$ /config/cerrar_session.php [L,QSA]
RewriteRule ^mi/res_pass$ /src/res_pass.php [L,QSA]
RewriteRule ^mi/phpmailer_ress$ /src/phpmailer_ress.php [L,QSA]

RewriteRule ^mi/src/([^/]+)$ /src/$1.php [L,QSA]


# RewriteRule ^mi/src/clientes$ /src/clientes.php [L,QSA]
# RewriteRule ^mi/src/consultar_cliente$ /src/consultar_cliente.php [L,QSA]
# RewriteRule ^mi/src/editar_cliente$ /src/editar_cliente.php [L,QSA]
# RewriteRule ^mi/src/guardar_cliente$ /src/guardar_cliente.php [L,QSA]
# RewriteRule ^mi/src/eliminar_cliente$ /src/eliminar_cliente.php [L,QSA]
# RewriteRule ^mi/src/recargos$ /src/recargos.php [L,QSA]
# RewriteRule ^mi/src/guardar_qr$ /src/guardar_qr.php [L,QSA]
# RewriteRule ^mi/src/guardar_recargo$ /src/guardar_recargo.php [L,QSA]
# RewriteRule ^mi/src/anular_recargo$ /src/anular_recargo.php [L,QSA]
# RewriteRule ^mi/src/bonos$ /src/bonos.php [L,QSA]
# RewriteRule ^mi/src/guardar_bono$ /src/guardar_bono.php [L,QSA]
# RewriteRule ^mi/src/eliminar_bono$ /src/eliminar_bono.php [L,QSA]
# RewriteRule ^mi/src/usuarios$ /src/usuarios.php [L,QSA]
# RewriteRule ^mi/src/consultar_usuario$ /src/consultar_usuario.php [L,QSA]
# RewriteRule ^mi/src/editar_usuario$ /src/editar_usuario.php [L,QSA]
# RewriteRule ^mi/src/eliminar_usuario$ /src/eliminar_usuario.php [L,QSA]
# RewriteRule ^mi/src/guardar_cancha$ /src/guardar_cancha.php [L,QSA]
# RewriteRule ^mi/src/canchas$ /src/canchas.php [L,QSA]
# RewriteRule ^mi/src/reservas$ /src/reservas.php [L,QSA]
# RewriteRule ^mi/src/consultar_reserva$ /src/consultar_reserva.php [L,QSA]
# RewriteRule ^mi/src/cancelar_reserva_cancha$ /src/cancelar_reserva_cancha.php [L,QSA]
# RewriteRule ^mi/src/reservar_cancha$ /src/reservar_cancha.php [L,QSA]
# RewriteRule ^mi/src/perfil$ /src/perfil.php [L,QSA]
# RewriteRule ^mi/src/eliminar_cancha$ /src/eliminar_cancha.php [L,QSA]
# RewriteRule ^mi/src/guardar_cambios_config_general$ /src/guardar_cambios_config_general.php [L,QSA]



